{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'shop:home' %}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-
        target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle
        navigation">
            <span class="navbar-toggler-icon">OMS</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif%}" href="{% url 'shop:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'products' %}active{% endif%}" href="{% url 'shop:products:products' %}">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'admin_categories' %}active{% endif%}" id="adminDropdown" role= "button" data-bs-toggle="dropdown" aria-expanded="false">Administration</a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <li><a class="dropdown-item" href="{% url 'shop:products:admin_categories' %}">Manage Categories</a></li>
                        <li><a class="dropdown-item" href="{% url 'shop:products:admin_products' %}">Manage Products</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>